<!-- <h2>Hero Detail</h2>
<h3>
  <i>FormControl in a FormGroup</i>
</h3>
<form [formGroup]="heroForm">
  <div >
    <label >Name:
      <input formControlName="name">
    </label>
  </div>
</form> -->

<form [formGroup]="userForm" role="form" novalidate>
  <div>
    <!-- <label>{{'userRegister.userName' | translate}}</label> -->
    <div>
      <input formControlName="userName" type="text"
        >
      <div *ngIf="formErrors.userName" >
        {{ formErrors.userName }}
      </div>
    </div>
  </div>
</form>

